<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianfeng.dao.ChenkMapper">
  <resultMap id="BaseResultMap" type="com.qf.distributionsys.dao">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="checkuid" jdbcType="INTEGER" property="checkuid" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="behindimg" jdbcType="VARCHAR" property="behindimg" />
    <result column="frontimg" jdbcType="VARCHAR" property="frontimg" />
    <result column="flag" jdbcType="INTEGER" property="flag" />
  </resultMap>
  <sql id="Base_Column_List">
    id, checkuid, uid, behindimg, frontimg, flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from check
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from check
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qianfeng.entity.Chenk">
    insert into check (id, checkuid, uid, 
      behindimg, frontimg, flag
      )
    values (#{id,jdbcType=INTEGER}, #{checkuid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, 
      #{behindimg,jdbcType=VARCHAR}, #{frontimg,jdbcType=VARCHAR}, #{flag,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qf.distributionsys.dao">
    insert into check
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="checkuid != null">
        checkuid,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="behindimg != null">
        behindimg,
      </if>
      <if test="frontimg != null">
        frontimg,
      </if>
      <if test="flag != null">
        flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="checkuid != null">
        #{checkuid,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="behindimg != null">
        #{behindimg,jdbcType=VARCHAR},
      </if>
      <if test="frontimg != null">
        #{frontimg,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qianfeng.entity.Chenk">
    update check
    <set>
      <if test="checkuid != null">
        checkuid = #{checkuid,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="behindimg != null">
        behindimg = #{behindimg,jdbcType=VARCHAR},
      </if>
      <if test="frontimg != null">
        frontimg = #{frontimg,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        flag = #{flag,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qianfeng.entity.Chenk">
    update check
    set checkuid = #{checkuid,jdbcType=INTEGER},
      uid = #{uid,jdbcType=INTEGER},
      behindimg = #{behindimg,jdbcType=VARCHAR},
      frontimg = #{frontimg,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>